export OPENSUBTITLE_USER="{{ (bitwarden "item" "opensubtitles.org").login.username }}"
export OPENSUBTITLE_PASSWORD="{{ (bitwarden "item" "opensubtitles.org").login.password }}"
export ADDIC7ED_USER="{{ (bitwarden "item" "addic7ed.com").login.username }}"
export ADDIC7ED_PASSWORD="{{ (bitwarden "item" "addic7ed.com").login.password }}"
export COSMOS_USER="{{ (bitwarden "item" "10.0.0.5").login.username }}"
export COSMOS_PASSWORD="{{ (bitwarden "item" "10.0.0.5").login.password }}"
